table{

    margin: 1em 1em 1em 1em;
    border: #333;
    border-collapse: collapse;
    text-align: center;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

}

table th{

    text-align: left;
    background-image: url(imagenes/fondo_gris.gif);

}

.euro{

    background: #e6f3ff url(imagenes/euro.png) no-repeat left center;
    padding: 1.3em;
    
}

.dolar{

    background: #e6f3ff url(imagenes/dolar.png) no-repeat left center;
    padding: 1.3em;

}

.libra{

    background: #e6f3ff url(imagenes/libra.png) no-repeat left center;
    padding: 1.3em;

}

.yen{

    background: #e6f3ff url(imagenes/yen.png) no-repeat left center;
    padding: 1.3em;

}

.amarillo{

    background-color: #FFFFCC;

}